/* style.css */

/* Font import */
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-ExtraLight.woff2) format("woff2");
    font-weight: 200;
}
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-Light.woff2) format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-Medium.woff2) format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-Bold.woff2) format("woff2");
    font-weight: 700;
}

/* Style rules */
body {
    background-color: #000;

    color: #fff;
    font-size: 1.5em;
    font-family: "HK Grotesk", sans-serif;
    font-weight: 300;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-image: url("img/orion.jpg");
    background-size: cover;
    background-attachment: fixed;   

    z-index: -10;
}

a {
    color: #fa7;
    font-weight: 700;
    text-decoration: none;

    transition: color .2s;
}
a:hover {
    color: #fff;
}

div::-webkit-scrollbar {
    width: 16px;
    background: none;
}
div::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
}
.button {
    background-position: center;
    background-size: 1.5em;
    background-repeat: no-repeat;
}
.button:hover,
.button:focus {
    background-color: rgba(255, 255, 255, .1);
}
.button:active {
    background-color: rgba(255, 255, 255, .2);
}

/* Distances pane */
#inputDist {
    grid-area: leftpane;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/orion_over.jpg');
    background-size: cover;
    background-attachment: fixed;
}

input,
select {
    font-family: inherit;
    font-weight: 300;
    font-size: 1.2em;
    border: .1em solid rgba(255, 255, 255, 0.4);
    padding: .3em;
    margin-bottom: 1em;

    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}
input:hover,
select:hover {
    background-color: rgba(25, 25, 25, .5);
}
input:focus,
select:focus {
    border-color: #f70;
}
input:invalid {
    border-color: #f00;

    background: rgba(50, 0, 0, .5);
    background-image: url("icons/error.png");
    background-size: 1.5em;
    background-position: left .25em center;
    background-repeat: no-repeat;

    box-shadow: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url("icons/dropdown.png");
    background-size: 1em;
    background-position: right .5em center;
    background-repeat: no-repeat
}
select option {
    font-weight: 300;
    background: #000;
}

/* The input box is nice, but I don't like the spin buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

.layout {
    /* Grid container */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    /* Actual juicy bits */
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-rows: auto;
    grid-template-areas:
    "sidebar content";
}
.sidebar {
    grid-area: sidebar;
    padding-top: 4em;

    background: #000;
}
.sidebar > .button {
    position: relative;
    height: 3em;
    width: 3em;

    /* Effectively places the border on the inside instead of the outside */
    box-sizing: border-box;
    border-left: .25em solid transparent;
}
.sidebar > .button:hover,
.sidebar > .button:focus {
    background-color: rgba(255, 255, 255, .1);
}
.sidebar > .button:active {
    background-color: rgba(255, 255, 255, .1);
    border-left: .25em solid rgba(255, 255, 255, .3);
}
.sidebar > .button.on {
    background-color: rgba(255, 255, 255, .2);
    border-left: .25em solid #f70;
}

/* Any calculator or entry whatever mode */
.mode {
    grid-area: content;
    position: absolute;
    height: 100%;
    width: 100%;

    /* Default grid layout. Override in the mode's specific class */
    display: grid;
    /* grid-template-columns: 50% 50%;*/
    grid-template-rows: 4em auto;
    grid-template-areas:
    "header"
    "area";
}

/* For placeholdy work in progressy purposes */
.wip {
    grid-area: area;

    height: 4em;
    width: 24em;
    margin: auto;

    font-size: 1.5em;
    text-align: center;
    line-height: 4em;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/orion_over.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.header {
    grid-area: header;

    /* Center the text because apparently we haven't found
    a way to do this properly in twenty years of this HTML crap */
    display: flex;
    align-items: center;
    padding: 0em .8em;

    font-size: 2em;
    font-weight: 700;
    vertical-align: middle;

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/orion_over.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* List entries */
.entry {
    padding: .6em 1.5em;

    background-color: transparent;
}
.entry:hover {
    background-color: rgba(255, 255, 255, .1);
}

/* Buttons */
.button.newton {
    background-image: url("icons/calculator.png");
}

.button.relat {
    background-image: url("icons/rocket.png");
}

.button.entries {
    background-image: url("icons/data_config.png");
}

.button.about {
    position: absolute;
    bottom: 0;

    background-image: url("icons/heart.png");
}
