/* style.css */

/* Font import */
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-ExtraLight.ttf) format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-Light.ttf) format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-Medium.ttf) format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "HK Grotesk";
    src: url(fonts/HKGroteskPro-Bold.ttf) format("truetype");
    font-weight: 700;
}

/* Style rules */
body {
    background-color: #000;

    color: #fff;
    font-size: 1.5em;
    font-family: "HK Grotesk", sans-serif;
    font-weight: 300;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-image: url("img/orion.jpg");
    background-size: cover;
    background-attachment: fixed;   

    z-index: -10;
}

a {
    color: #FA7;
    font-weight: 500;
    text-decoration: none;

    transition: color .2s;
}
a:hover {
    color: #fff;
}

div::-webkit-scrollbar {
    width: 16px;
    background: none;
}
div::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
}


/* ----------------- */
/* Basic page layout */
/* ----------------- */
.layout {
    /* Grid container */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    /* Actual juicy bits */
    display: grid;
    grid-template-columns: 3em auto;
    grid-template-rows: auto;
    grid-template-areas:
    "sidebar content";
}
.sidebar {
    grid-area: sidebar;
    padding-top: 5em;

    background: #000;
}
.sidebar .button {
    position: relative;
    height: 3em;
    width: 3em;

    background: none;
    background-position: .5em .75em;
    background-size: 1.5em;
    background-repeat: no-repeat;

    /* Effectively places the border on the inside instead of the outside */
    box-sizing: border-box;
    border-left: .25em solid transparent;
}
.sidebar .button:hover,
.sidebar .button:focus {
    background-color: rgba(255, 255, 255, .1);
}
.sidebar .button:active {
    background-color: rgba(255, 255, 255, .2);

    border-left: .25em solid rgba(255, 255, 255, .2);
}
.sidebar > .button.on {
    border-left: .25em solid #f70;
}

/* Any calculator or entry whatever mode */
.mode {
    grid-area: content;
    position: absolute;
    height: 100%;
    width: 100%;

    /* Default grid layout. Override in the mode's specific class */
    display: grid;
    /* grid-template-columns: 50% 50%;*/
    grid-template-rows: 5em auto;
    grid-template-areas:
    "header"
    "area";
}

/* For placeholdy work in progressy purposes */
.wip {
    grid-area: area;

    height: 4em;
    width: 24em;
    margin: auto;

    font-size: 1.5em;
    text-align: center;
    line-height: 4em;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/orion_over.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.header {
    grid-area: header;

    /* Center the text because apparently we haven't found
    a way to do this properly in twenty years of this HTML crap */
    display: flex;
    align-items: center;
    padding: 0em .8em;

    font-size: 2.5em;
    font-weight: 700;
    vertical-align: middle;

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/orion_over.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* ------- */
/* Buttons */
/*-------- */
.button.newton {
    background-image: url("icons/calculator.png");
}

.button.relat {
    background-image: url("icons/rocket.png");
}

.button.entries {
    background-image: url("icons/data_config.png");
}

.button.about {
    position: absolute;
    bottom: 0;

    background-image: url("icons/heart.png");
}

/* -------------------- */
/* Newtonian calculator */
/* -------------------- */
.mode.newton {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 5em auto;
    grid-template-areas:
    "header header"
    "leftpane rightpane";
}

/* Entry boxes for both panes */
.entry {
    padding: .6em 1.5em;

    background-color: transparent;
}
.entry:hover {
    background-color: rgba(255, 255, 255, .1);
}

/* Distances pane */
#input_distance {
    grid-area: leftpane;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/orion_over.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* The input box is nice, but I don't like the spin buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

.entry.dist {
    color: rgba(255, 255, 255, 0.5);
}

.entry.dist span {
    color: #fff;
    font-size: 1.8em;
}

/* Velocities pane */
#input_velocity {
    grid-area: rightpane;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/orion_over.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.entry.velo {
    color: #f70;
    font-weight: 500;
}

.entry.velo input {
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: inherit;
    font-weight: 300;
    font-size: 2.5em;

    border: none;

    color: #fff;
    background: none;
}
.entry.velo input:focus {
    font-weight: 700;
}


/* ----------------------- */
/* Relativistic calculator */
/* ----------------------- */
.mode.relat {
    /* Todo */
}

/* -------- */
/* Database */
/* -------- */
.mode.entries {
    /* Todo */
}

/* ---------- */
/* About menu */
/* ---------- */

/* Using default layout */

#voyagerProbe {
    display: block;
    height: 5em;
    margin: 3em 0 3em 4.5em;

    animation-name: voyager;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes voyager {
    from { transform: translate(0, 0) rotate(12deg); }
    to   { transform: translate(-.02em, .5em) rotate(12deg); }
}

.aboutWindow {
    grid-area: area;

    width: 20em;
    padding: 2em;
    margin: auto;

    text-align: center;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/orion_over.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.aboutWindow h1 {
    margin: 0;

    font-size: 4em;
    font-weight: 200;
}
.aboutWindow h2 {
    margin: 0;

    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
    font-weight: 500;
}

.aboutWindow blockquote {
    color:rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    font-weight: 500;
}

a.kofi {
    display: inline-block;
    margin-top: 4em;

    font-size: 0.8em;
    font-weight: 700;
}